/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Properties */

:root {
    --color-blue: #1e90ff;
    --color-pink: #ffc0cb;
    --color-grey: #f6f6f6;
    --color-text-gray: #23272a;
}

/* Utilities */

.border2px {
    border: 2px dashed black;
}

.container {
    margin: 0 auto;
    width: 1080px;
}

.flex {
    display: flex;
}

.small-column {
    flex-basis: calc(100% / 3);
}

.small-column, .big-column {
    min-height: 500px;
    border: 2px dashed black;
}

.big-column {
    flex-basis: calc(100% / 3 * 2);
}

.text-white {
    color: white;
}

/* Generics  */

body {
    font-family: sans-serif;
}

li {
    display: inline-block;
    padding-right: 20px;
}

h2 {
    font-size: 50px;
    color: var(--color-text-gray);
    padding-bottom: 20px;
    padding-top: 30px;
}

h1 {
    font-size: 60px;
    padding-bottom: 20px;
    margin-top: 50px;
}

svg {
    display: block;
    color: #f6f6f6;
}

/* Header */

li > a {
    color: white;
}

a {
    text-decoration: none;
}

header {
    /* width: 100%; */
    min-height: 50px;
    background-color: #3161e0;
    /* justify-content: space-between; */
    align-items: center;
}

.header-container {
    min-height: 80px;
    background-color: #3161e0;
    padding: 20px 0;
}

#logo {
    padding-left: 10px;
    flex-basis: 25%;
    align-self: center;
}

.nav-bar {
    flex-grow: 1;
}

.login {
    flex-basis: 25%;
    text-align: right;
}


ul {
    justify-content: center;
}

.login > a {
    background-color: white;
    padding: 8px;
    border-radius: 50px;
    color: black;
}


/* Main */



.first-section > button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
}

p {
    font-size: 21px;
    line-height: 30px;
}


p + button {
    background-color: white;
}

button + button {
    background-color: #23272a;
    color: white;
}

.first-section {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}


.bkg-first-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.upside-down {
    transform: rotate(180deg);
}

.bkg-second-section, .bkg-fourth-section {
    background-color: white;
}

.bkg-third-section, .bkg-fifth-section {
    background-color: var(--color-grey);
}

main > div {
    padding: 40px 0;
}

.fifth-section {
    min-height: 700px;
    background-color: #228b22;
}

/* Footer */

.container-footer {
    padding-top: 10px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid white; */
    margin-bottom: 20px;
}

.container-footer > div {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.footer-first-column {
    min-height: 600px;
    background-color: #f08080;
    flex-basis: 25%;
}


.footer-column {
    min-height: 600px;
    width: calc(75% / 4);
    background-color: #20b2aa;
    border: 2px dashed white;
}

footer {
    background-color: #23272a;
}


.registracion{
    background-color: #7fffd4;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

button {
    text-decoration: none;
}

